<app-navbar-user-login *ngIf="user" [user]="user"></app-navbar-user-login>

<div
  class="min-h-screen flex flex-col items-center justify-center bg-gradient-to-r from-green-400 via-blue-500 to-purple-600 dark:from-gray-700 dark:via-gray-800 dark:to-gray-900 px-10 md:px-0"
>
  <div
    class="bg-white p-10 rounded-lg shadow-2xl dark:bg-gray-700 transform transition-all duration-500 hover:scale-105 max-w-lg mx-auto text-center"
  >
    <h2
      class="text-4xl font-extrabold mb-4 flex flex-col items-center justify-center text-gray-800 dark:text-gray-200"
    >
      <i class="fas fa-laugh-squint text-yellow-500 mr-2"></i>
      Chiste del Día
    </h2>
    <p
      class="mb-8 text-xl text-gray-700 dark:text-gray-300"
      [innerHTML]="joke()"
    ></p>
    <div *ngIf="errorMessage" class="mb-4 text-red-500">
      {{ errorMessage() }}
    </div>
    <div class="flex justify-center mb-4">
      <button
        class="bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 transition-colors duration-300 flex items-center justify-center gap-2 shadow-lg animate-bounce"
        (click)="fetchNewJoke()"
      >
        <i class="fas fa-sync-alt"></i>
        Otro Chiste
      </button>
      <button
        class="bg-green-500 text-white px-4 py-3 rounded-full hover:bg-green-600 transition-colors duration-300 flex items-center justify-center gap-2 shadow-lg ml-4"
        (click)="saveToFavorites()"
      >
        <i class="fas fa-heart"></i>
      </button>
    </div>
  </div>
</div>
